Package: ai.paisseon.darkkeysreborn
Name: Dark Keys Reborn
Author: Paisseon
Description: OLED black keyboard
Maintainer: Paisseon
Version: 1.3
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Icon: https://paisseon.github.io/info/darkkeysreborn.png
SileoDepiction: https://paisseon.github.io/info/darkkeysreborn.json
Depiction: https://paisseon.github.io/info/darkkeysreborn.html